@media only screen and (max-width: 2000px) {    
    h2{
        margin: 30px;
        text-align: center;
    }
    .img-responsive2 {
        width: 33.99999%;
        margin: 6px 0;
    }
    .img-responsive-footer {
        width: 99.99999%;
        margin: 6px 0;
    }
    .grid-container-reaproveitando {
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 10px;
      }
}

@media only screen and (max-width: 1000px) {
    .img-responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .img-responsive2 {
        width: 99.99999%;       
        padding: 10px;
    }
    nav{
        flex-direction: column;
        margin-left: 0;
    }
    .index-paragrafos{
        width: auto;
        margin: 0;
        padding: 10px;
        position: relative;
        display: inline-flex;
    }
    .desperdicio-paragrafos{
        width: auto;
        margin: 0;
        padding: 10px;
        position: relative;
        display: inline-flex;
    }
    .receitas-paragrafos{
        width: auto;
        margin: 0;
        padding: 10px;
        position: relative;
        display: inline-flex;
    }    
    h2{
        margin: 30px;
        text-align: center;
    }
    .grid-container {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .grid-container-reaproveitando {
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 10px;
      }
}

@media only screen and (max-width: 700px) {
    .img-responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .img-responsive2 {
        display: contents;
    }    
    nav{
        flex-direction: column;
        margin-left: 0;
    }
    .index-paragrafos{
        width: auto;
        margin: 0;
        padding: 10px;
        position: relative;
        display: inline-flex;
    }
    .desperdicio-paragrafos{
        width: auto;
        margin: 0;
        padding: 10px;
        position: relative;
        display: inline-flex;
    }
    h2{
        margin: 30px;
        text-align: center;
    }
    .grid-container {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .grid-container-reaproveitando {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
      }
}

@media only screen and (max-width: 500px) {
    .img-responsive {
        width: 100%;
    }
    .img-responsive2 {
        width: 100%;
    }
    nav{
        flex-direction: column;
        margin-left: 0;
    }
    .menu{
        padding: 0;        
    }
    .dropdown{
        margin: auto;
        margin-bottom: 15px;
    }
    .dropdown-content {
        left: 65%;        
    }
    .index-paragrafos{        
        width: auto;
        margin: 0;
        padding: 10px;
    }
    .desperdicio-paragrafos{        
        width: auto;
        margin: 0;
        padding: 10px;
    }
    .receitas-paragrafos{        
        width: auto;
        margin: 0;
        padding: 10px;
    }
    h2{
        display: flex;
        justify-content: center;
        margin: 30px;
        text-align: center;
    }
    .grid-container-reaproveitando {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
      }
      
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}