.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}


li {
    display: flex;
    display: inline;
    padding-left: 10px;
    padding: 5px;
    font-size: 12px;
}

li:hover {
    background-color: rgb(165, 165, 165);
}

.a {
    text-decoration: none;
    color: aliceblue;
}

figure{
    display: flex;
    justify-content: center;
    gap: 20px
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

body{
    background: rgb(212, 212, 212);
}

.paragrafos{
    background-color: ;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer{
    background-color: rgb(37, 37, 37);
    height: 80px;
    padding: 5px;
    border-radius: 2px;   
    text-decoration: none;  
}

.link{
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.link_footer{
    text-decoration: none;
    color: aliceblue;
} 

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-btn {
    display: flex;
    align-items: center;
    margin: 30px;
    margin-right: 100px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgb(122, 122, 122);
    color: aliceblue;
    border: none;
    cursor: pointer;
    transition: background 0.4s;
    border-radius: 3px;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    background-color: rgb(122, 122, 122);
    min-width: 150px;
  }
  
  .dropdown-content a {
    color:aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(165, 165, 165);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown-btn {
    background-color: rgb(165, 165, 165);
    transform: scale(1.1);
  }
  