body{
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #3d2f2b;
    color: aliceblue;
    padding-top: 15px;
    align-items: center;
    text-transform: uppercase;    
    
}

.title > h1 {
  margin: auto;
  width: 50%;
  text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    background-color: #3d2f2b;
    color: aliceblue;
    align-items: center;
    text-transform: uppercase;
}


.menu > nav > ul > li {
    display: flex;
    display: inline;
    padding-left: 10px;
    padding: 5px;
    font-size: 12px;
}

.menu > nav > ul > li:hover {
  background-color: #584944;
}

.menu > nav > ul > li.active a {
  background-color: #584944;
  border-bottom: 2px solid white;
}

a {
    text-decoration: none;
    color: aliceblue;
}

figure{
    display: flex;
    justify-content: center;
    gap: 20px
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.3em;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.3em;
  display: flex;
  justify-content: center;
}

.index-paragrafos{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.index-paragrafos p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.paragrafos{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

.paragrafos p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding-bottom: 10px;
  padding-right: 150px;
}

.paragrafos figure img{
  width: 350px;
}

footer {
    background: none repeat scroll 0 0 #3d2f2b;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    right: 0;
  }

  footer > ul {
    text-align: center;;
  }

  footer > ul > li {
    display: flex;
    display: inline;
    padding-left: 10px;
    padding: 5px;
    font-size: 12px;
}

footer > ul > li:hover {
    text-decoration: underline;
    color: white;
    text-align: center;
}  


.link{
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

.link_footer{
    text-decoration: none;
    color: aliceblue;
} 

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-btn {
    display: flex;
    align-items: center;
    margin-right: 100px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #3d2f2b;
    color: aliceblue;
    border: 2px solid white;
    cursor: pointer;
    transition: background 0.4s;
    border-radius: 3px;
}
  
  .dropdown-content {
    right: 0;
    left: auto;
    float: none;
    display: none;
    position: absolute;
    /* left: 50%;  */
    transform: translateX(-65%);
    background-color: #3d2f2b;
    min-width: 150px;
  }
  
  .dropdown-content a {
    color:aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .dropdown-content a:hover {
    background-color: #584944;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown-btn {
    background-color: #584944;
    /* transform: scale(1.1); */
  }

.footer-img{
  padding: 0 50px 20px;
  width: 90%;
  height: 380px;
}